# Resources are specific to the project and shouldn't need to be version controlled
Resources/
# AWS SAM builds etc. that are produced on local runs
.aws-sam/build/
# Local settings
.idea/
# Saved config settings that include secure information (bot key)
samconfig.toml
